@import 'styles/base.scss';

.formWrapper {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  padding: 2rem;

  .title {
    color: $color-contrast;
    font-family: $font-bold;
    font-size: 1.6rem;

    @include xl {
      font-size: 2rem;
    }
  }

  .uploader {
    margin: 1.2rem auto;
  }

  .inputWrapper {
    margin: 1.2rem 0;
    & h2 {
      font-family: $font-bold;
    }
    .description {
      color: $color-contrast;
      font-size: 1.2rem;

      @include xl {
        font-size: 1.6rem;
      }
    }
    > * {
      &:not(&:first-child) {
        margin-bottom: 1rem;
      }
    }
  }
  .submitBtn {
    margin: 0 auto;
  }
}
